BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Attach
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: No